.navbar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #ffffff;
    padding: 10px 20px;
    position: fixed;
    width: 100%;
    top: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.navbar img {
    height: 50px;
    cursor: pointer;
}

.navbar nav {
    display: flex;
    align-items: center;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: #ffffff;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 0.3s ease, transform 0.3s ease;
    border-radius: 10px;
}

.dropdown-content a {
    font-family: 'Lexend', sans-serif;
    color: #000080;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s;
    border-radius: 10px;
}

.dropdown-content a:hover {
    background-color: #e7ac4d;
    border-radius: 10px;
}

.dropdown:hover .dropdown-content {
    display: block;
    opacity: 1;
    transform: translateY(0);
}
