@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

body {
    font-family: 'Lexend', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    background-color: #ffffff;
    color: #333;
    line-height: 1.6;
}


main {
    max-width: 800px;
    margin: 80px auto 0;
    padding: 20px;
}

header {
    background-color: #ffc107;
    padding: 1rem;
    text-align: center;
    border-radius: 20px;
    margin-bottom: 20px;
}

h1, h2 {
    color: #2c3e50;
}

.section {
    margin-bottom: 30px;
}

.team-member {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.team-member img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
}