@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");

body {
    font-family: "Lexend", sans-serif;
    background-color: #ffb703;
    /* Pale orange background */
    color: #023047;
    /* Navy text */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    /* White background for navbar */
    padding: 10px 20px;
    position: fixed;
    width: 100%;
    top: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.navbar img {
    height: 50px;
    /* Adjust the height of the logo as needed */
    cursor: pointer;
}

.navbar nav {
    display: flex;
    align-items: center;
}


.content {
    background-color: #ffffff;
    /* White text box */
    color: #023047;
    /* Navy text */
    border-radius: 15px;
    padding: 40px;
    width: 100%;
    max-width: 900px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    text-align: center;
    margin: 100px auto 0 auto;
    /* Center content and ensure it is below the navbar */
}

h1 {
    margin-bottom: 20px;
    font-size: 5em;
    letter-spacing: 1.5px;
    animation: slideInFromTop 1s ease-in-out;
    font-weight: 800;
}

ol {
    text-align: left;
    margin: 20px auto;
    padding: 0;
    max-width: 600px;
    font-size: 1.2em;
    counter-reset: list;
}

ol li {
    margin: 10px 0;
    padding-left: 1.5em;
    position: relative;
    line-height: 1.2em; /* Adjust line height to create spacing */
}

ol li::marker {
    font-size: 1.5em;
}


.images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
}

.images img {
    margin: 10px;
    border-radius: 10px;
    width: 200px;
    height: 200px;
    object-fit: cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;
}

.images img:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

@keyframes slideInFromTop {
    from {
        transform: translateY(-50px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}